@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --color-primary: #D16EA8;
    --color-secondary: #5E8EF5;
    --color-background: #0E0E0E;
    --color-foreground: #FFFFFF;
    --color-bg: #000614;
    --container-wdth-lg: 80%;
    --container-wdth-md: 90%;
    --container-wdth-sm: 94%;
    --transition: all 400ms ease;
}
body{
    font-family: 'Space Mono', monospace;
    font-weight: normal;
    /* background-color: var(--color-background); */
}


.credit{
    display: none;
}
.hamburger{
    right: 2rem;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 20px;
}
.bar{
    border: 1px solid white;
    width: 30px;
}

.alumni-container{
    background-color: black;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 1% 0%;
}
.alumni-container h1{
    color: var(--color-foreground);
    font-size: 5rem;
    letter-spacing: 1rem;
    text-align: center;
}
.alumni-people{
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
}
.card-wrapper{
    padding: 2rem 2rem;
}
.blur-card{
    border: 1px solid white;
    border-radius: 16px;
    display: grid;
    text-align: center;
    color: white;
    height: 100%;
}
.blur-card img{
    padding: 2rem 0;
    width: 50%;
    border-radius: 50%;
}
.blur-card h2,h3,h4{
    padding: 0;
}
.blur-card h2{
    font-size: 24px;
    font-weight: 700;
}
.blur-card h3{
    font-weight: 400;
}
.people-contact img{
    padding: 2rem 0;
    width: 3rem;
    border-radius: 0%;
}

footer{
    /* border: 1px solid white; */
    padding: 0 4%;
    width: 100%;
    height: 3rem;
    background-color: var(--color-background);
    color: var(--color-foreground);
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}
/* ---------------------------------------------------------------Terminal END----------------------------------------------------- */

/* -----------------------------------------------Mobile Responsive------------------------------------------------- */
@media all and (max-width: 600px){
    .hamburger{
        display: flex;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        transition: 0.3s;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: 0.3s;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition: 0.3s;
    }
    .credit{
        display: inline-block;
        font-size: 14px;
        color: var(--color-foreground);
        padding-top: 50%;
    }

    .alumni-container{
        display: block;
        padding: 0;
    }
    .alumni-container h1{
        font-size: 3rem;
        padding-top: 20%;
        letter-spacing: .5rem;
    }
     .alumni-people{
        padding: 0rem 2rem;
        display: block;
    }   
    .card-wrapper{
        padding: 2rem 0;
    }
    .blur-card{
        border: 1px solid transparent;
        background-color: #0b0f18;
        width: 100%;
        border-radius: 16px;
        display: block;
        text-align: center;
        color: white;
        height: 100%;
    }
    .blur-card img{
        padding: 2rem 0;
        width: 50%;
        border-radius: 50%;
    }
    .blur-card h2,h3,h4{
        padding: 0;
    }
    .people-contact img{
        padding: 2rem 0;
        width: 3rem;
        border-radius: 0%;
    }
    .card-left{
        width: 40vh;
        height: auto;
    }
    .card-cent{
        width: 40vh;
        height: auto;
    }
    .card-right{
        width: 40vh;
        height: auto;
    }
    footer{
        height: 8rem;
        display: block;
        padding: 2rem 0rem;
        text-align: center;
    }
}
@media all and (max-height: 760px){
    .hero_right p{
        font-size: 1.8rem;
        padding: 2rem 1rem;
    }
}